<!-- Le permite a un usuario crear una cuenta en el sistema. -->
<div class="page-header">
    <h3>Register</h3>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <!--
            Referencias:
            - https://scotch.io/tutorials/angularjs-form-validation
            - https://scotch.io/tutorials/angularjs-form-validation-with-ngmessages
        -->
        <form novalidate autocomplete="off" name="registerForm" ng-submit="register(registerForm.$valid)">
            <p class="alert alert-warning" ng-if="formMessages">{{formMessages}}</p>
            <div class="form-group"
                 ng-class="{'has-error': registerForm.fullName.$touched && registerForm.fullName.$invalid}">
                <label for="fullName">Name</label>
                <input type="text" ng-model="user.fullName" placeholder="Full Name" id="fullName" name="fullName"
                       class="form-control" required />
                <div ng-messages="registerForm.fullName.$error" ng-if="registerForm.fullName.$touched">
                    <p ng-message="required" class="alert alert-danger">Your full name is required.</p>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': registerForm.email.$touched && registerForm.email.$invalid}">
                <label for="email">Email</label>
                <input type="email" ng-model="user.email" placeholder="email" id="email" name="email"
                       class="form-control" required />
                <div ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched">
                    <p ng-message="email" class="alert alert-danger">Please provide your email using a valid format.</p>
                    <p ng-message="required" class="alert alert-danger">Your email is required.</p>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': registerForm.password.$touched && registerForm.password.$invalid}">
                <label for="password">Password</label>
                <input type="password" ng-model="user.password" id="password" name="password" class="form-control"
                       required />
                <div ng-messages="registerForm.password.$error" ng-if="registerForm.password.$touched">
                    <p ng-message="required" class="alert alert-danger">Password is required.</p>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': registerForm.repeatPassword.$touched && registerForm.repeatPassword.$invalid}">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" ng-model="user.repeatPassword" id="repeatPassword" name="repeatPassword"
                       class="form-control" required />
                <div ng-messages="registerForm.repeatPassword.$error" ng-if="registerForm.repeatPassword.$touched">
                    <p ng-message="required" class="alert alert-danger">Repeat Password is required.</p>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" ng-disabled="registerForm.$invalid">Register
                </button>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        Already have an account? <a ng-href="#/login">Login</a>
    </div>
</div>
